.accounts__container {
    min-height: 100vh;
    padding-left: 0;
}

.main {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex: 1;
}

.content{
    padding: 3rem;
    width: inherit;
}
