.sidebar{
    padding: 2rem;
}

.sidebar__header {
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.sidebar__footer{
    padding: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
