.roles__card {
    -webkit-box-shadow: 0px -1px 27px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 27px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 27px -27px rgba(0, 0, 0, 0.75);
}

.roles__card:hover {
    cursor: pointer;
}