.job__card{
    border-left: 5px solid #353b48;
    -webkit-box-shadow: 0px -1px 27px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 27px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 27px -27px rgba(0, 0, 0, 0.75);
}

.job__card:hover{
    cursor: pointer;
}

.job__card .h5 {
    font-weight: bolder;
}

.job__card p{
    font-size: 16px;
}